* {

    padding: 0px;
    margin: 0px;

}

header {
    background-color:#67a503;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    height: 60px;
}

footer {
    background-color:#67a503;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
        
    }


.videos {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    row-gap: 10px;
    column-gap: 10px;
    
}

.videos video {
    
    width: 100%;
    height:100%;
    
}



.midea {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    margin: 5px;
    
    box-shadow: 1px 1px 1px;

    width: 100%;
    

    }